body {
  margin: 0;
  padding: 0;
}

.food-recipe {
  width: 28em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.generate-food {
  width: 28em;
  background-color: green;
  align-items: center;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.generate-food-btn {
  width: 28em;
}
